In [1]:
import pandas as pd
purchaseData = pd.DataFrame
csvfile = 'HeroesOfPymoli/Resources/purchase_data.csv'
purchaseData = pd.read_csv(csvfile, delimiter=',', encoding="utf-8")
purchaseData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
### Player Count
# * Total Number of Players
playerCount = len(purchaseData['SN'].unique())
print('Player count: ' + str(playerCount))

Player count: 576

In [3]:
### Purchasing Analysis (Total)
print('Purchasing Analysis','\n-------------------')
# * Number of Unique Items
uniqueItems = len(purchaseData['Item ID'].unique())
print('Number of unique items: ' + str(uniqueItems))
# * Average Purchase Price
averagePurchasePrice = purchaseData['Price'].mean()
print('Average purchase price: $' + str(round(averagePurchasePrice,2)))
# * Total Number of Purchases
purchaseCount = purchaseData['Purchase ID'].count()
print('Total number of purchases: ' + str(purchaseCount))
# * Total Revenue
print('Total revenue: $' + str(round(purchaseData['Price'].sum(),2)))

Purchasing Analysis
-------------------
Number of unique items: 183
Average purchase price: $3.05
Total number of purchases: 780
Total revenue: $2379.77

In [4]:

### Gender Demographics
print('Gender Demographics','\n-------------------')
# * Percentage and Count of Male Players
malePlayerCount = len(purchaseData['SN'].loc[purchaseData['Gender']=='Male'].unique())
print('Male (count): ' + str(malePlayerCount))
malePlayerPercentage = malePlayerCount / playerCount
print('Male (percentage): ' + str(round(malePlayerPercentage,4)*100) + ' %')

# * Percentage and Count of Female Players
femalePlayerCount = len(purchaseData['SN'].loc[purchaseData['Gender']=='Female'].unique())
print('Female (count): ' + str(femalePlayerCount))
femalePlayerPercentage = femalePlayerCount / playerCount
print('Female (percentage): ' + str(round(femalePlayerPercentage,4)*100) + ' %')

# * Percentage and Count of Other / Non-Disclosed
otherPlayerCount = playerCount - malePlayerCount - femalePlayerCount
print('Other / Non-Disclosed (count): ' + str(otherPlayerCount))
otherPlayerPercentage = otherPlayerCount / playerCount
print('Other / Non-Disclosed (percentage): ' + str(round(otherPlayerPercentage,4)*100) + ' %')

Gender Demographics
-------------------
Male (count): 484
Male (percentage): 84.03 %
Female (count): 81
Female (percentage): 14.06 %
Other / Non-Disclosed (count): 11
Other / Non-Disclosed (percentage): 1.91 %

In [5]:
### Purchasing Analysis (Gender)
print('Purchasing Analysis (Gender)','\n----------------------------')
# * The below each broken by gender
#  * Purchase Count
malePurchaseCount = purchaseData['Purchase ID'].loc[purchaseData['Gender']=='Male'].count()
femalePurchaseCount = purchaseData['Purchase ID'].loc[purchaseData['Gender']=='Female'].count()
otherPurchaseCount = purchaseData['Purchase ID'].loc[(purchaseData['Gender']!='Female') & (purchaseData['Gender']!='Male')].count()
print('Purchase Count','\n    Male: ' + str(malePurchaseCount) + '\n    Female: ' + str(femalePurchaseCount) + '\n    Other / Non-Disclosed: ' + str(otherPurchaseCount))

#  * Average Purchase Price
maleAveragePurchasePrice = purchaseData['Price'].loc[purchaseData['Gender']=='Male'].mean()
femaleAveragePurchasePrice = purchaseData['Price'].loc[purchaseData['Gender']=='Female'].mean()
otherAveragePurchasePrice = purchaseData['Price'].loc[(purchaseData['Gender']!='Female') & (purchaseData['Gender']!='Male')].mean()
print('\nAverage Purchase Price','\n    Male: $' + str(round(maleAveragePurchasePrice,2)) + '\n    Female: $' + str(round(femaleAveragePurchasePrice,2)) + '0' + '\n    Other / Non-Disclosed: $' + str(round(otherAveragePurchasePrice,2)))

#  * Total Purchase Value
maleTotalPurchaseValue = purchaseData['Price'].loc[purchaseData['Gender']=='Male'].sum()
femaleTotalPurchaseValue = purchaseData['Price'].loc[purchaseData['Gender']=='Female'].sum()
otherTotalPurchaseValue = purchaseData['Price'].loc[(purchaseData['Gender']!='Female') & (purchaseData['Gender']!='Male')].sum()
print('\nTotal Purchase Value','\n    Male: $' + str(round(maleTotalPurchaseValue,2)) + '\n    Female: $' + str(round(femaleTotalPurchaseValue,2)) + '\n    Other / Non-Disclosed: $' + str(round(otherTotalPurchaseValue,2)))

#  * Average Purchase Total per Person by Gender
maleAveragePurchaseTotal = maleTotalPurchaseValue / malePlayerCount
femaleAveragePurchaseTotal = femaleTotalPurchaseValue / femalePlayerCount
otherAveragePurchaseTotal = otherTotalPurchaseValue / otherPlayerCount
print('\nAverage Purchase Total per Person by Gender','\n    Male: $' + str(round(maleAveragePurchaseTotal,2)) + '\n    Female: $' + str(round(femaleAveragePurchaseTotal,2)) + '\n    Other / Non-Disclosed: $' + str(round(otherAveragePurchaseTotal,2)))

Purchasing Analysis (Gender)
----------------------------
Purchase Count
    Male: 652
    Female: 113
    Other / Non-Disclosed: 15

Average Purchase Price
    Male: $3.02
    Female: $3.20
    Other / Non-Disclosed: $3.35

Total Purchase Value
    Male: $1967.64
    Female: $361.94
    Other / Non-Disclosed: $50.19

Average Purchase Total per Person by Gender
    Male: $4.07
    Female: $4.47
    Other / Non-Disclosed: $4.56

In [6]:
### Age Demographics
# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
print('Age Demographics','\n----------------\n')
#  * Purchase Count
print('Purchase Count')
print('     < 10: ' + str(purchaseData['Purchase ID'].loc[purchaseData['Age']<10].count()))
print('    10-14: ' + str((purchaseData['Purchase ID'].loc[(purchaseData['Age']>9) & (purchaseData['Age']<15)].count())))
print('    15-19: ' + str((purchaseData['Purchase ID'].loc[(purchaseData['Age']>14) & (purchaseData['Age']<20)].count())))
print('    20-24: ' + str((purchaseData['Purchase ID'].loc[(purchaseData['Age']>19) & (purchaseData['Age']<25)].count())))
print('    25-29: ' + str((purchaseData['Purchase ID'].loc[(purchaseData['Age']>24) & (purchaseData['Age']<30)].count())))
print('    30-34: ' + str((purchaseData['Purchase ID'].loc[(purchaseData['Age']>29) & (purchaseData['Age']<35)].count())))
print('    35-39: ' + str((purchaseData['Purchase ID'].loc[(purchaseData['Age']>34) & (purchaseData['Age']<40)].count())))
print('    40-44: ' + str((purchaseData['Purchase ID'].loc[(purchaseData['Age']>39) & (purchaseData['Age']<45)].count())))
print('     > 44: '  + str(purchaseData['Purchase ID'].loc[purchaseData['Age']>44].count()))

Age Demographics
----------------

Purchase Count
     < 10: 23
    10-14: 28
    15-19: 136
    20-24: 365
    25-29: 101
    30-34: 73
    35-39: 41
    40-44: 12
     > 44: 1

In [7]:
#  * Average Purchase Price
print('\nAverage Purchase Price')
avgPrice = purchaseData['Price'].loc[purchaseData['Age']<10].mean()
print('     < 10: $' + str(round(avgPrice,2)))
avgPrice = purchaseData['Price'].loc[(purchaseData['Age']>9) & (purchaseData['Age']<15)].mean()
print('    10-14: $' + str(round(avgPrice,2)))
avgPrice = purchaseData['Price'].loc[(purchaseData['Age']>14) & (purchaseData['Age']<20)].mean()
print('    15-19: $' + str(round(avgPrice,2)))
avgPrice = purchaseData['Price'].loc[(purchaseData['Age']>19) & (purchaseData['Age']<25)].mean()
print('    20-24: $' + str(round(avgPrice,2)))
avgPrice = purchaseData['Price'].loc[(purchaseData['Age']>24) & (purchaseData['Age']<30)].mean()
print('    25-29: $' + str(round(avgPrice,2)) + '0')
avgPrice = purchaseData['Price'].loc[(purchaseData['Age']>29) & (purchaseData['Age']<35)].mean()
print('    30-34: $' + str(round(avgPrice,2)))
avgPrice = purchaseData['Price'].loc[(purchaseData['Age']>34) & (purchaseData['Age']<40)].mean()
print('    35-39: $' + str(round(avgPrice,2)) + '0')
avgPrice = purchaseData['Price'].loc[(purchaseData['Age']>39) & (purchaseData['Age']<45)].mean()
print('    40-44: $' + str(round(avgPrice,2)))
avgPrice = purchaseData['Price'].loc[purchaseData['Age']>44].mean()
print('     > 44: $' + str(round(avgPrice,2)) + '0')

Average Purchase Price
     < 10: $3.35
    10-14: $2.96
    15-19: $3.04
    20-24: $3.05
    25-29: $2.90
    30-34: $2.93
    35-39: $3.60
    40-44: $3.04
     > 44: $1.70

In [8]:
#  * Total Purchase Value
print('\nTotal Purchase Value')
sumPrice = purchaseData['Price'].loc[purchaseData['Age']<10].sum()
print('     < 10: $' + str(round(sumPrice,2)))
sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>9) & (purchaseData['Age']<15)].sum()
print('    10-14: $' + str(round(sumPrice,2)))
sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>14) & (purchaseData['Age']<20)].sum()
print('    15-19: $' + str(round(sumPrice,2)))
sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>19) & (purchaseData['Age']<25)].sum()
print('    20-24: $' + str(round(sumPrice,2)))
sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>24) & (purchaseData['Age']<30)].sum()
print('    25-29: $' + str(round(sumPrice,2)) + '0')
sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>29) & (purchaseData['Age']<35)].sum()
print('    30-34: $' + str(round(sumPrice,2)) + '0')
sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>34) & (purchaseData['Age']<40)].sum()
print('    35-39: $' + str(round(sumPrice,2)))
sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>39) & (purchaseData['Age']<45)].sum()
print('    40-44: $' + str(round(sumPrice,2)))
sumPrice = purchaseData['Price'].loc[purchaseData['Age']>44].sum()
print('     > 44: $' + str(round(sumPrice,2)) + '0')

Total Purchase Value
     < 10: $77.13
    10-14: $82.78
    15-19: $412.89
    20-24: $1114.06
    25-29: $293.00
    30-34: $214.00
    35-39: $147.67
    40-44: $36.54
     > 44: $1.70

In [9]:
#  * Average Purchase Total per Person by Age Group
print('\nAverage Purchase Total per Person by Age Group')
sumPrice = purchaseData['Price'].loc[purchaseData['Age']<10].sum()
playerCountAge = len(purchaseData['SN'].loc[purchaseData['Age']<10].unique())
avgPrice = sumPrice / playerCountAge
print('     < 10: $' + str(round(avgPrice,2)))

sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>9) & (purchaseData['Age']<15)].sum()
playerCountAge = len(purchaseData['SN'].loc[purchaseData['Age']<10].unique())
avgPrice = sumPrice / playerCountAge
print('    10-14: $' + str(round(avgPrice,2)))

sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>14) & (purchaseData['Age']<20)].sum()
playerCountAge = len(purchaseData['SN'].loc[(purchaseData['Age']>14) & (purchaseData['Age']<20)].unique())
avgPrice = sumPrice / playerCountAge
print('    15-19: $' + str(round(avgPrice,2)))

sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>19) & (purchaseData['Age']<25)].sum()
playerCountAge = len(purchaseData['SN'].loc[(purchaseData['Age']>19) & (purchaseData['Age']<25)].unique())
avgPrice = sumPrice / playerCountAge
print('    20-24: $' + str(round(avgPrice,2)))

sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>24) & (purchaseData['Age']<30)].sum()
playerCountAge = len(purchaseData['SN'].loc[(purchaseData['Age']>24) & (purchaseData['Age']<30)].unique())
avgPrice = sumPrice / playerCountAge
print('    25-29: $' + str(round(avgPrice,2)))

sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>29) & (purchaseData['Age']<35)].sum()
playerCountAge = len(purchaseData['SN'].loc[(purchaseData['Age']>29) & (purchaseData['Age']<35)].unique())
avgPrice = sumPrice / playerCountAge
print('    30-34: $' + str(round(avgPrice,2)))

sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>34) & (purchaseData['Age']<40)].sum()
playerCountAge = len(purchaseData['SN'].loc[(purchaseData['Age']>34) & (purchaseData['Age']<40)].unique())
avgPrice = sumPrice / playerCountAge
print('    35-39: $' + str(round(avgPrice,2)))

sumPrice = purchaseData['Price'].loc[(purchaseData['Age']>39) & (purchaseData['Age']<45)].sum()
playerCountAge = len(purchaseData['SN'].loc[(purchaseData['Age']>39) & (purchaseData['Age']<45)].unique())
avgPrice = sumPrice / playerCountAge
print('    40-44: $' + str(round(avgPrice,2)))

sumPrice = purchaseData['Price'].loc[purchaseData['Age']>44].sum()
playerCountAge = len(purchaseData['SN'].loc[purchaseData['Age']>44].unique())
avgPrice = sumPrice / playerCountAge
print('     > 44: $' + str(round(avgPrice,2)) + '0')

Average Purchase Total per Person by Age Group
     < 10: $4.54
    10-14: $4.87
    15-19: $3.86
    20-24: $4.32
    25-29: $3.81
    30-34: $4.12
    35-39: $4.76
    40-44: $3.32
     > 44: $1.70

In [10]:
### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

purchaseCount = purchaseData.groupby(['SN']).count()['Price'].rename('Purchase Count')
purchaseCount.head()
purchaseValue = purchaseData.groupby(['SN']).sum()['Price'].rename('Total Purchase Value')
purchaseValue.head()
averagePurchase = purchaseData.groupby(['SN']).mean()['Price'].rename('Average Purchase Price')
averagePurchase.head()

topSpenders = pd.DataFrame({'Purchase Count':purchaseCount,
'Total Purchase Value': purchaseValue,
'Average Purchase Price': averagePurchase})
topSpenders.sort_values(['Total Purchase Value'], ascending=False).head()

             Purchase Count  Total Purchase Value  Average Purchase Price
SN
Lisosia93                 5                 18.96                3.792000
Idastidru52               4                 15.45                3.862500
Chamjask73                3                 13.83                4.610000
Iral74                    4                 13.62                3.405000
Iskadarya95               3                 13.10                4.366667

In [11]:
### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

popularItemsCount = purchaseData.groupby(['Item Name']).count()['Item ID'].rename('Purchase Count')
popularItemsPrice = purchaseData.groupby(['Item Name']).count()['Price'].rename('Item Price')
popularItemsValue = purchaseData.groupby(['Item Name']).sum()['Price'].rename('Total Purchase Value')
mostPopularItems = pd.DataFrame({'Purchase Count': popularItemsCount,
'Item Price': popularItemsPrice,
'Total Purchase Value': popularItemsValue})
mostPopularItems.sort_values(['Purchase Count'], ascending=False).head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,12,50.76
Persuasion,9,9,28.99
Nirvana,9,9,44.10
"Extraction, Quickblade Of Trembling Hands",9,9,31.77

In [12]:
### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value
mostProfitableItems = pd.DataFrame({'Purchase Count': popularItemsCount,
'Item Price': popularItemsPrice,
'Total Purchase Value': popularItemsValue})
mostProfitableItems.sort_values(['Total Purchase Value'], ascending=False).head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,12,50.76
Nirvana,9,9,44.10
Fiery Glass Crusader,9,9,41.22
Singed Scalpel,8,8,34.80